<!DOCTYPE HTML>
<html>
    <head>
        <title> DriveStack </title>
    	<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
        <style type="text/css">
            .folder_icon {
                background: url('/static/img/collectionsprite.png') no-repeat -4px 0; width: 16px!important; height: 13px!important; position: static!important; display: inline-block; line-height: normal; margin-bottom: -2px; margin-right: 7px; 
            }
            .file_icon {
                background: url('/static/img/document_icon.png') no-repeat; width: 16px!important; height: 13px!important; position: static!important; display: inline-block; line-height: normal; margin-bottom: -2px; margin-right: 7px; 
            }
            .favourite_icon {
                background: url('/static/img/star4.png') no-repeat; width: 16px!important; height: 16px!important; position: static!important; display: inline-block; line-height: normal; margin-bottom: -2px; margin-right: 7px; 
            }
            .favourite_icon:hover {
                background: url('/static/img/star-hover4.png');
            }
            .tabbed {
                padding-right: 5px;
            }
            .dropdown-unlink {
               padding: 3px 15px; 
            }
            .dull {color: #555;}
        </style>
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
              <div class="container">
                <a class="brand" href="#"><!--<img src="/static/img/drivestack.png" />--> DriveStack</a>
                <ul class="nav pull-right">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="/intro">Gettin Started</a></li>
                  <li id="fat-menu" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Anil Shanbhag<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><span class="dropdown-unlink"><strong>{{ username }} </strong></span></li>
                      <li><span class="dropdown-unlink">{{ email }}</span></li>
                      <!-- # sprintf("%01.2f of %01.2f used", $boxFilled/1073741824.0 , $boxQuota/1073741824.0 ); -->
                      <li class="divider"></li>
                      <li><a href="#">Settings</a></li>
                      <li><a href="/logout">LogOut</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
        </div> 
        <div class="container" style="margin-top: 60px;">
         	<div class="row">
                <div class="span1" style="float:right;">     
                    <a class="btn" data-toggle="modal" href="#fileUpload">Upload</a>
                </div>
                <div style="width:70px; float:right; margin-left:10px;">
                    <div class="btn-group">
                      <button class="btn"><img src='/static/icons/dropbox.png' width=15/></button>
                      <button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li class="divider"></li>
                        <li><a href="/dropbox/addaccount">Add another DropBox</a></li>
                      </ul>
                    </div>
                </div>
                <div style="width:70px; float:right; margin-left:10px;">
                    <div class="btn-group">
                      <button class="btn"><img src='/static/icons/box.png' width=15/></button>
                      <button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li class="divider"></li>
                        <li><a href="/box/addaccount">Add another Box</a></li>
                      </ul>
                    </div>
                </div>
                <div style="width:70px; float:right; margin-left:10px;">
                    <div class="btn-group">
                      <button class="btn"><img src='/static/icons/drive.png' width=15/></button>
                      <button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li class="divider"></li>
                        <li><a href="/google/addaccount">Add another Drive</a></li>
                      </ul>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 10px">
         		<div class="span12" id="drive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>. </th>
                                <th>Title </th>
                                <th>Store </th>
                                <th>Last Modified </th>
                                <th>Modify</th>
                            </tr>
                        </thead>
                        <tbody id="drive-content">
                        </tbody>
                    </table>
         		</div>
         	</div>
        </div>
        <div class="modal hide fade" id="fileUpload">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h3>Upload to DriveStack</h3>
            </div>
            <div class="modal-body">
                <h4>Intelligent Uploader</h4>
                <p>DriveStack would upload your file to one of your connected drives depending on available space in them. </p>  
                <form method="post" enctype="multipart/form-data" action="/upload">  
                    <input type="file" name="file" id="file" class="btn btn-primary" multiple="">  
                    <button type="submit" id="btn" style="">Upload Files!</button>  
                </form> 
                <div id="response"></div>
            </div>
        </div>
        <div class="modal hide fade" id="fileShare">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h3>Share via DriveStack</h3>
            </div>
            <div class="modal-body">
                <h4>IntelliShare</h4>
                <p>The recipient need not have account on same cloud storage as you are sharing from. A drivestack account is well sufficient.</p>
                <form method="GET" action="/share">  
                    <input type="text" name="toemail" value="ashwing.2005@gmail.com">
                    <input type="hidden" name="fromcloud" value="box">  
                    <input type="hidden" name="fileid" value="2734342376">  
                    <input type="hidden" name="filename" value="detemplate2.py">
                    <button type="submit" id="btn">Upload Files!</button>  
                </form> 
                <div id="response"></div>
            </div>
        </div>
        <div class="modal hide fade" id="shareRequests">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h3>Share Requests</h3>
            </div>
            <div class="modal-body">
                <h4>IntelliShare</h4>
                <p>The recipient need not have account on same cloud storage as you are sharing from. A drivestack account is well sufficient.</p>
                <form method="GET" action="/shareaccept">  
                    <input type="hidden" id="file_path_or_id" name="file_path_or_id" value="ashwing.2005@gmail.com">
                    <input type="hidden" id="shared_by" name="shared_by" value="box">  
                    <input type="hidden" id="shared_from_drive" name="shared_from_drive" value="2833617025">  
                    <input type="hidden" id="shared_with" name="shared_with" value="2833617025">  
                    <button type="submit" id="btn">Accept</button>  
                </form> 
                <div id="response"></div>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="/static/bootstrap/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    // Drive Show
    var drive = document.querySelector('#drive-content'); 
    var dropboxData = "{{ dropboxData }}";
    dropboxData = dropboxData.replace(/&quot;/g, "\"");
    dropboxData = JSON.parse( dropboxData );
    for (i in dropboxData) {
        var row = dropboxData[i];
        var pathArr = row['path'].split('/');
        var row_html = "<tr> <td> <span class='favourite_icon'></span> </td> <td>";
        row_html += row['is_dir'] ? "<a href='#'><span class='folder_icon'></span>" : "<a href='#'><span class='file_icon'></span>";
        row_html += pathArr[pathArr.length - 1] + "</a></td><td>Dropbox</td><td>" + row['modified'] + "</td> <td><a data-toggle='modal' href='#fileShare' href='share'><img src='/static/icons/share.png' /></a><a href='delete'><img src='/static/icons/delete.png' /></a></td></tr>";
        drive.innerHTML += row_html;
    }

    var boxData = "{{ boxData }}";
    boxData = boxData.replace(/&quot;/g, "\"");
    boxData = JSON.parse( boxData );
    for (i in boxData['item_collection']['entries']) {
        var row = boxData['item_collection']['entries'][i];
        var row_html = "<tr> <td> <span class='favourite_icon'></span> </td> <td>";
        row_html += row['type'] == "folder" ? "<a href='#'><span class='folder_icon'></span>" : "<a href='/box/download/" + row["id"] + "'><span class='file_icon'></span>";
        row_html += row['name'] + "</a></td><td>" + "Box" + "</td><td>" + "</td><td><a id='" + row['id']  + "' data-toggle='modal' href='#fileShare' href='share'><img src='/static/icons/share.png' /></a><a href='delete'><img src='/static/icons/delete.png' /></a></td></tr>";
        drive.innerHTML += row_html;
    }

    var driveData = "{{ googleData }}";
    driveData = driveData.replace(/&quot;/g, "\"");
    driveData = JSON.parse( driveData );
    for (i in driveData) {
        var row = driveData[i];
        var row_html = "<tr> <td> <span class='favourite_icon'></span> </td> <td>";
        row_html += row['is_dir'] == "True" ? "<a href='#'><span class='folder_icon'></span>" : "<a href='#'><span class='file_icon'></span>";
        row_html += row["title"] + "</a></td><td>Drive</td><td>" + row['modified'] + "</td> <td><a id='" + row["id"]  +"' data-toggle='modal' href='#fileShare'><img src='/static/icons/share.png' /></a><a href='delete'><img src='/static/icons/delete.png' /></a></td></tr>";
        drive.innerHTML += row_html;
    }
    
    var pendingShares = "{{ pendingShares }}";
    pendingShares = pendingShares.replace(/&quot;/g, "\"");
    pendingShares = JSON.parse( pendingShares );

    if ( pendingShares.length > 0 ) {
        document.querySelector('#file_path_or_id').value = pendingShares[0]["file_path_or_id"];
        document.querySelector('#shared_by').value = pendingShares[0]["shared_by"];
        document.querySelector('#shared_from_drive').value = pendingShares[0]["shared_from_drive"];
        document.querySelector('#shared_with').value = pendingShares[0]["shared_with"];
        $('#shareRequests').modal({ show : true });
    } else {
        $('#shareRequests').modal({ show : false });    
    }

    // File upload modal
    $('#fileUpload').modal({
        show: false
    });

    $('#fileShare').modal({
        show: false
    });
    /*
    var input = document.getElementById("file"), 
            formdata = false;

    if (window.FormData) {
        formdata = new FormData();
        document.getElementById("btn").style.display = "none";
    }

    input.addEventListener("change", function (evt) {
        document.getElementById("response").innerHTML = "Uploading . . ."
        var i = 0, len = this.files.length, img, reader, file;
    
        for ( ; i < len; i++ ) {
            file = this.files[i];
    
            if ( window.FileReader ) {
                reader = new FileReader();
                reader.readAsDataURL(file);
            }
            if (formdata) {
                formdata.append("files[]", file);
            }
        }
    
        if (formdata) {
            $.ajax({
                url: "/upload",
                type: "POST",
                data: formdata,
                processData: false,
                contentType: false,
                success: function (res) {
                    document.getElementById("response").innerHTML = res; 
                }
            });
        }
    }, false);
    */ 
    </script>
</html>
