<!DOCTYPE HTML>
<html>
    <head>
    	<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    </head>
    <body>
        <style>
        body {
            background-color: #bbb;
         }
         </style>
        <div class="container">
            <div class="row">
                <div class="span12" style="height:100px;">
                </div>
            </div>
            <div class="row">
                <div class="hero-unit" style="background-color: #fff; width: 620px; text-align: center; margin: 10px auto; box-shadow: 0 8px 6px -6px #000; ">
                    <h1> DriveStack </h1>
                    <p> Simple way to manage your cloud storage </p><br/>

                    <a href="dropbox_enable.php" class="btn btn-large btn-primary" style="width: 120px;">
                        Explore Now!
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>

